@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.lego{
    width:80px;
    border-radius: 50%;
}
.head{
    display: flex;
    position: fixed;
    background-color: #f0f0f0;
    justify-content: space-between;
    width: 100%;
    padding: 2px 15px;
    align-items: center;
    z-index: 999;
}
.link a{
    text-decoration: none;
    color:#3a6cf4;
    padding-left: 20px;
}
.link a:hover{
    color: #601cfc;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.wats{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    background-color: #333;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 12px;
    margin-bottom: 40px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.wats::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.wats::before{
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,#ff7300,#fffb00,#48ff00,
        #00ffd5,#002bff,#ff00c8,#ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes  glowing{
    0%{background-position:0 0 ;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}
.wats:hover::before{
    opacity: 1;
}
.wats:active:after{
    background: transparent;
}
.wats:active{
    color: #161616;
    font-weight: bold;
}
.soc a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.card{
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    background-color: #fff;
    border-radius: 15px;
    transition: 0.7s ease;
    padding: 25px;
    margin: 15px;
}
.card:hover{
    transform:scale(1.1);
}
.icon{
    text-align: center;
    color: #0a49f6;
    font-size: 8em;
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.bachs1{
    background-image: url(../img/3d-rendering-hexagonal-texture-background.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.videole{
    background-color: #000016;
    margin-top: 30px;
}
.proj{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.proj:hover{
    transform: scale(1.1);
}
.cardimg img{
    width: 100%;
}
.proj:hover .cardimg{
    opacity: 0.9;
}
.projectinfo{
    padding: 1em;
}
.category{
    font-size: 0.8em;
}
.projecttitel{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}.morede{
    text-decoration: none;
    color: #3a6cf4;
}
.morede:hover{
    color: #601cfc;
}
.gg{
    text-decoration: none;
}
.gg p{
    color: #000;
}
